:root {
  --primary: #ff6fb5;
  --primary07: rgba(255, 111, 181, 0.7);
  --white-text: white;
  --grey-text: rgba(156, 163, 175, 1);
  --shadow: rgba(0, 0, 0, 0.7);
  --discount: #2cbc63;
  --background: #242933;
}

html,
body {
  background-color: var(--background);
  font-family: "Work Sans", sans-serif;
  color: var(--white-text);
}

header,
main,
section {
  margin: 0 128px;
}

.logo {
  margin-right: 28px;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: var(--primary);
}

nav {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 18px;
}

nav > a {
  color: var(--grey-text);
  text-decoration: none;
}

nav > a:not(.logo) {
  margin: 0 12px;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 450px;
  margin-right: 48px;
}

.left-side h1 {
  margin-top: 0;
  font-size: 2.8em;
}

.left-side .hero-subtitle {
  display: inline-flex;
  align-items: center;
  color: var(--grey-text);
}

.left-side .hero-subtitle .icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 12px;
  background: url("./assets/img/chrome.png");
  background-size: contain;
}

.left-side a {
  padding: 16px 12px;
  font-size: 24px;
  color: var(--white-text);
  font-family: "Work Sans", sans-serif;
  border-radius: 10px;
  background-color: var(--primary);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.4s;
}

.left-side button:hover {
  background-color: var(--primary07);
  transition: background-color 0.4s;
}

.hero-video-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  max-width: 590px;
  background: #273138;
  border-radius: 7px;
  box-shadow: var(--shadow) 0 4px 24px;
}

.hero-video {
  width: 590px;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 0 0 7px 7px;
  overflow: hidden;
}

.osx {
  opacity: 0.9;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 4px 0 0;
}
.dot.red {
  background: #ff6057;
  border: 1px solid #e14640;
}
.dot.amber {
  background: #ffbd2e;
  border: 1px solid #dfa123;
}
.dot.green {
  background: #27c93f;
  border: 1px solid #1dad2b;
}

main {
  margin-top: 148px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

i {
  color: var(--primary);
}

.feature-item-wrapper {
  text-align: center;
}

.feature-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  margin: 0 18px 64px 18px;
}

.feature-item p {
  margin: 0 0 12px 0;
  color: var(--grey-text);
}

.feature-item img {
  width: 350px;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 64px 0;
  padding: 24px;
  border-radius: 15px;
}

.pricing .title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
}

.pricing .subtitle {
  margin-bottom: 48px;
}

.pricing .initial-price {
  position: relative;
  font-size: 2.5em;
  font-weight: 300;
  color: var(--grey-text);
}

.pricing .initial-price::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 3px solid;
  border-color: inherit;
  transform: rotate(-15deg);
}

.pricing .price {
  margin: 12px 0 0 0;
  font-size: 4em;
}

.pricing .discount {
  color: var(--discount);
}

.pricing button {
  position: relative;
  cursor: pointer;
  z-index: 0;
}

.pricing button,
.gradient {
  width: 200px;
  margin-top: 32px;
  padding: 16px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--white-text);
  font-size: 18px;

  border-radius: 50px;
  background: linear-gradient(
    -45deg,
    var(--primary),
    #ff1a89,
    var(--background)
  );
  background-size: 600%;
  animation: anime 8s linear infinite;
}

.gradient {
  position: absolute;
  top: -15px;
  left: -15px;
  filter: blur(30px);
  z-index: -1;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 1165px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-side {
    margin: 0;
    max-width: none;
  }

  .hero-video-container {
    margin-top: 64px;
    align-self: auto;
    max-width: 700px;
  }

  .hero-video {
    width: 100%;
    max-width: 700px;
  }
}

@media screen and (max-width: 700px) {
  header,
  main,
  section {
    margin: 0 16px;
  }

  .hero-video {
    width: 100%;
  }
}

footer {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

footer a {
  color: var(--grey-text);
  margin: 0 12px;
}